.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.env
.DS_Store
note
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md

