html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.message.ai-message, .message.user-message {
    margin-top: 0;
    margin-bottom: 16px;
}

.messages {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 8px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.message {
    color: var(--vscode-editor-foreground);
    display: grid;
    gap: 4px;
}

.input-area {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 4px;
    border-top: 1px solid var(--vscode-panel-border);
}

.chat-input {
    width: 100%;
    padding: 8px;
    height: 80px;
    border-radius: 8px;
    border: 1px solid var(--vscode-input-border);
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    box-sizing: border-box;
    resize: none;
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
}

.bottom-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.activation-button {
    padding: 0 8px 0 8px;
    border-radius: 8px;
    height: 100%;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

#send {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
}

#clear {
    color: var(--vscode-button-secondaryForeground);
    background-color: var(--vscode-button-secondaryBackground);
}

#send:hover {
    background-color: var(--vscode-button-hoverBackground);
}

#clear:hover {
    background-color: var(--vscode-button-secondaryHoverBackground);
}

.model-selector {
    flex-grow: 1;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid var(--vscode-input-border);
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    min-width: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.user-prefix, .ai-prefix, .error-prefix {
    font-weight: bold;
}

.user-prefix {
    color: var(--vscode-editorInfo-foreground);
    display: block;
}

.ai-prefix {
    color: var(--vscode-symbolIcon-eventForeground);
}

.error-prefix {
    color: var(--vscode-editorOverviewRuler-errorForeground);
}

think {
    color: var(--vscode-editor-foreground);
}

details {
    border: 1px solid var(--vscode-input-border);
    border-radius: 8px;
    margin-top: 2px;
    margin-bottom: 6px;
}

summary {
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-content: center;
    justify-content: center;
    list-style: none;
}

.summary-content {
    padding: 8px;
}

summary::-webkit-details-marker {
    display: none;
}
